
:root {
  /* Blue-ish */
  --color-cerulean: #2d99ff;
  --color-cyan: #05edfe;
  --color-grimace-blue: #2a319d;
  --color-lapis: #0065db;
  --color-lazuli: #045fb4;
  --color-smurfette: #00c7ff;
  --color-alice-blue: #f5fafe;
  --color-wistful: #a4a7d5;
  --color-lavender: #e4e5f3;
  --color-ffs-blue: #000c6c;
  --color-pattens-blue: #c0e1ff;

  /* Red-ish */
  --color-pig-pink: #ffd6e0;
  --color-red-ribbon: #d04;
  --color-urgent-coral: #f36;
  --color-bubble-gum: #ffc2d2;
  --color-tickle-me-pink: #ff85a3;
  --color-illusion: #ff99b3;

  /*
  ** Variable Naming scheme:
  ** --$use-[$state-]$declaration[-$detail]
  */

  --body-bg: #fff;
  --body-color: #3d3d3d;

  --heading-color: #102781;
  --heading-alt-color: var(--color-ffs-blue);

  --bold-color: #000;

  --link-color: var(--color-cerulean);
  --link-border: rgba(0, 117, 247, 0.4);
  --link-hover-color: var(--color-lazuli);
  --link-hover-border: var(--link-hover-color);

  --main-border: #e1e1e1;

  --footer-border: #d0d0d0;
  --footer-fpf-color: #9d9cbd;

  }

body {
  background: var(--body-bg);
  font-family: Arimo, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--body-color);
  padding: 0;
  margin: 0;
  letter-spacing: 0.25px;
}

summary {
  background-color: var(--body-bg);
  color: var(--body-color);
  padding: 10px;
  border-radius: 5px;
}

details[open] summary {
	border-radius: 5px 5px 0 0;
        border-bottom: 2px solid var(--link-border);
  }

details.nodetails[open] summary {
	border-radius: 5px 5px 0 0;
        border-bottom: none;
  }
details {
  background: var(--color-alice-blue);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  border: 2px solid var(--link-border);
}
summary::-webkit-details-marker {
  display: none;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

p.footer-fpf {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
	border-top: 1px solid var(--footer-border);
	color: var(--footer-fpf-color)
}

h1 {
	color: var(--heading-color);
	text-align: center;
}
