:root {
    --font-family: Noto, Arimo, Arial, sans-serif;
    --font-family-mono: Cousine, "Courier New", Courier, monospace;
    --background-color: #FFF;
    --text-color: #444;
    --heading-color: #000;
    --max-width: 100rem;
    --font-size-base: 1.8rem;
    --font-size-sm: calc(var(--font-size-base) * 0.75);
    --font-size-md: calc(var(--font-size-base) * 1.5);
    --font-size-lg: calc(var(--font-size-base) * 3);
    --line-height: 1.5;
    --line-height-px: calc(var(--font-size-base) * var(--line-height));
    --highlight-color: oklch(0.95 0.05 254.08);
    --highlight-text-color: oklch(0.05 0.25 254.08);
    --column-width: 72rem;
    --link-color: oklch(0.5 0.15 254.08);

    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 10px; /* Makes it easier to think in pixels */
}

.fpf {
    background: #000;
    color: #DDD;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 3rem;
    font-size: 1.4rem;

    .inner {
        width: var(--max-width);
        margin: 0 auto;
    }

    .name {
        font-weight: bold;
        color: #FFF;
    }

    a.name {
        text-decoration-color: #444;
    }

    a.name:hover {
        text-decoration-color: #FFF;
    }

    img {
        vertical-align: 0.1rem;
        margin-left: 0.5em;
    }
}

body {
    font-size: var(--font-size-base);
    color: var(--text-color);
    line-height: var(--line-height);
    max-width: var(--max-width);
    margin: 7rem auto 4rem auto;
    padding: 0 8rem;
}

a {
    color: var(--link-color);
    text-decoration-color: #CCC;
}

a:hover {
    text-decoration-color: var(--link-color);
}

@media (max-width: 600px) {
    body {
        padding: 0 2rem;
    }
}

.header {
    display: flex;
    align-items: start;
}

.header-logo {
    order: 2;
}

.header-title {
    margin-right: 2rem;
    margin: 0;
    padding: 0;
    font-size: var(--font-size-lg);
    color: var(--heading-color);
    font-weight: 400;
}

.intro > p {
    width: var(--column-width);
}

.first {
    font-size: var(--font-size-md);
    color: #000;
}

.highlight {
    background: var(--highlight-color);
    color: var(--highlight-text-color);
    padding: 0.2rem;
    margin: -0.2rem;
}

details {
    width: var(--column-width);
    padding: 0;
    padding-bottom: calc(2 * var(--line-height-px));
    border-top: 1px solid #EEE;
    position: relative;
}

summary {
    cursor: pointer;
    font-weight: bold;
    color: #000;
    list-style: none;
    padding-top: var(--line-height-px);
}

summary::after {
    content: "More Information +";
    display: block;
    color: #777;
    font-size: var(--font-size-sm);
    font-weight: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: var(--line-height-px);
}

summary:hover::after {
    text-decoration: underline;
}

details.nodetails {
    padding-bottom: var(--line-height-px);
}

details.nodetails summary {
    cursor:default;
}

details.nodetails summary::after {
    display: none;
    content: "";
}

details > p {
    margin-top: 0;
}

details[open] summary::after {
    content: "Less Information -";
}

kbd {
    font-family: var(--font-family-mono);
    background-color: #EEE;
    padding: 0.2rem;
    margin: -0.2rem;
}

@media print {
    details, details > * { display:block !important; }
}
